<%= link_to 'Main Page',index1_path %>
<p>ADDRESSES</p>
<%= form_tag(addresses_path, method: :get) do %>
<table class="table">
<tr class="tr">
<% @my_date1 = Time.now - 6.years %>
<% @my_date2 = Time.now %>
<td>Start Date<%= select_date( @my_date1 ,prompt: true,prefix: :start_date) %></td>
<td>Last Date<%= select_date( @my_date2 ,prompt: true,prefix: :end_date) %></td>
<td>AccessionItemNo:<%= text_field_tag :accession %></td>
<td>JournalSequence:<%= text_field_tag :journal %></td>
<td><%= submit_tag 'Search' %></td>
</tr>
</table>
<% end %>
	<table class="table">
	<tr class="tr">
		<td>Date</td>
		<td>ItemID</td>
		<td>AccessionItemNo</td>
		<td>JournalSequence</td>	
	</tr>
<% for t in @details %>
	<tr class="tr">
	<td><%= t.Date %></td>
	<td><%= t.itemID %></td>
	<td><%= t.accessionItemNo %></td>
	<td><%= t.journalSequence %></td>
<td><%= link_to 'Show', {:action => 'show', :id => t.id}, :onclick=>"window.open(this.href,'show_details', 'height=600, width=600');return false;" %></td>
	</tr>
<% end %>
</table>
<p>
Download:
<%= link_to "Excel", addresses_path(request.parameters.merge({format: :xls})), 
    download: 'addresses.xls' %>
</p>