
<%= link_to "Home", welcome_path %>
</br>
</br>
<div class = 'levels'>
<p>AUTHORS</p>
<%= link_to 'Process Details',authors_path(@files5) %>
<%= link_to 'Operators Details',authors_operators_path %>
<p>No.of operators:<%= @operators5 %></p>
<p>No.of files:<%= @files5 %></p>
<p>Files in progress:<%= @progress5 %></p>
</div>
<div class = 'levels'>
<p>ADDRESSES</p>
<%= link_to 'Process Details',addresses_path(@files6) %>
<%= link_to 'Operators Details',addresses_operators_path %>
<p>No.of operators:<%= @operators6 %></p>
<p>No.of files:<%= @files6 %></p>
<p>Files in progress:<%= @progress6 %></p>
</div>
<div class = 'levels'>
<p>QC</p>
<%= link_to 'Process Details',qc_path(@files3) %>
<%= link_to 'Operators Details',qc_operators_path %>
<p>No.of operators:<%= @operators3 %></p>
<p>No.of files:<%= @files3 %></p>
<p>Files in progress:<%= @progress3 %></p>
</div>
<div class = 'levels'>
<p>DISPATCHED</p>
<%= link_to 'Process Details',dispatched_path(@files4) %>
<p>No.of files:<%= @files4 %></p>
</div>

