<%= link_to 'TDK',tdk_path(@files1) %>
<p>No.of operators:<%= @operators1 %></p>
<p>No.of files:<%= @files1 %></p>
<p>Files in progress:<%= @progress1 %></p>

<%= link_to 'FUNDING',funding_path(@files2) %>
<p>No.of operators:<%= @operators2 %></p>
<p>No.of files:<%= @files2 %></p>
<p>Files in progress:<%= @progress2 %></p>

<%= link_to 'QC',qc_path(@files3) %>
<p>No.of operators:<%= @operators3 %></p>
<p>No.of files:<%= @files3 %></p>
<p>Files in progress:<%= @progress3 %></p>

<%= link_to 'DISPATCHED',dispatched_path(@files3) %>
<p>No.of files:<%= @files4 %></p>

<%= link_to "Logout", logout_path %>