<h1>Products</h1>
<ul id="items">
	<% for c in @products %>
	<li><%= c.name %></li>
	<% end %>
</ul>
<div>
<%= form_tag(products_path, method: :get) do %>
<%= text_field_tag :term %>
<%= submit_tag 'Search' %>
<% end %>
</div>
<p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> |
  <%= link_to "Excel", products_path(format: "xls") %>
</p>
