<br>
<%= button_to "Home", welcome_path,method: :get,class:"button1" %>
<h1 >PROCESS D</h1>

</br>
<table class="indextable" >
<tr>
	<td class="head1">AUTHORS</td>
	<td class="head2">ADDRESSES</td>
	<td class="head3">QC</td>
	<td class="head4">DISPATCHED</td>
</tr>
<tr>
<td class="td1">

<%= link_to 'Process Details',authors_path(@files5), class:"button1" %>
<br>
</br>
<%= link_to 'Operators Details',authors_operators_path, class:"button1" %>
<p>No.of operators:<%= @operators5 %></p>
<p>No.of files:<%= @files5 %></p>
<p>Files in progress:<%= @progress5 %></p>
<meter value="<%= @files5 %>" min="0" max="10">2 out of 10</meter><br>
</td>
<td class="td2">
<%= link_to 'Process Details',addresses_path(@files6), class:"button2" %>
<br>
</br>
<%= link_to 'Operators Details',addresses_operators_path, class:"button2" %>
<p>No.of operators:<%= @operators6 %></p>
<p>No.of files:<%= @files6 %></p>
<p>Files in progress:<%= @progress6 %></p>
<meter value="<%= @files6 %>" min="0" max="10">2 out of 10</meter><br>
</td>
<td class=td3>
<%= link_to 'Process Details',qc_path(@files3), class:"button3" %>
<br>
</br>
<%= link_to 'Operators Details',qc_operators_path, class:"button3"%>
<p>No.of operators:<%= @operators3 %></p>
<p>No.of files:<%= @files3 %></p>
<p>Files in progress:<%= @progress3 %></p>
<meter value="<%= @files3 %>" min="0" max="10">2 out of 10</meter><br>
</td>
<td class="td4">
<%= link_to 'Process Details',dispatched_path(@files4), class:"button4" %>
<p>No.of files:<%= @files4 %></p>
<meter value="<%= @files4 %>" min="0" max="10">2 out of 10</meter><br>
</td>

